@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'DM Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
.drop {
  border: 1px solid #979797;
  background: #fff;
}

.drop-wrapper {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s ease;
  visibility: hidden;
}
.drop-wrapper.active {
  opacity: 1;
  transform: translateY(4px);
  visibility: visible;
}

.chevron {
  transition: 0.2s ease transform;
}
.chevron.active {
  transform: rotate(180deg);
}
